#province{
	left: 390px;
	top: 280px;
	position:absolute;
	opacity: 0.7;
}
#city{
	left:398px;
	top:280px;
	position:absolute;
	opacity: 0.7;
}
#university{
	left: 405px;
	top: 280px;
	position:absolute;
	opacity: 0.7;
}
#button{
	left: 835px;
	top: 280px;
	position:absolute;
	opacity: 0.7;
}